/*applied to everyhting.....................*/
html, body {margin:0;
            height: 100%;
            font-size:40px;
            background: white;
            color: black;
            font-family: Garamond, serif;
            /*overflow-y:hidden; */
                        }

img {max-width: 100%;
    }

#title {
  position: absolute;
  top: 50px;
  left: 50px;
  }

/* http://waitanimate.wstone.io/#!/ https://codepen.io/dmytrous/pen/vgoWxY*/
.shakeDelay {
  
  animation: shakeDelay-animation 4.72s ease infinite; 
  transform-origin: 50% 50%;
  animation-delay: 5s; 
}

@keyframes shakeDelay-animation {
   0% { transform:translate(0,0) }
  1.78571% { transform:translate(5px,0) }
  3.57143% { transform:translate(0,0) }
  5.35714% { transform:translate(5px,0) }
  7.14286% { transform:translate(0,0) }
  8.92857% { transform:translate(5px,0) }
  10.71429% { transform:translate(0,0) }
  100% { transform:translate(0,0) }
}


/*COVER.................................*/
#cover {
  background:url("../images/cover.png");
  background-size:cover; 
}


#start {
  position: absolute;
  bottom: 35%;
  left: 10%;
  color: white;
  font-size: 18px;
  font-family: Garamond, Serif;
  cursor:pointer;
  }


/*PAGE 1...........................*/
/*makes moon image the background*/
#vhc1 {
  background:url("../images/moon.jpg");
  background-size:cover; 
  color: white; 
}

#egg {
  position: absolute;
  height: 11%;
  bottom: 40%;
  left: 25%;
  display: block;
  cursor:pointer;
}

.shake:hover {
animation: shake 0.5s;
animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}



/*PAGE 2.........................*/
#vhc2 {
  background:url("../images/sun.png");
  background-size:cover;  
}

#suncat {
  position: absolute;
  height: 10%;
  bottom: 10.5%;
  margin-left: 6%;
  display: block;
  cursor:pointer;
}


/*pop effect on caterpillar p2. https://ianlunn.github.io/Hover/*/
@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
.hvr-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}


/*PAGE 3...............................*/
#vhc3 {
  background:url("../images/sun close.jpg");
  background-size:cover;  
}

#title3 {
  position: absolute;
  bottom: 7%;
  left: 5%;
  color:black;
}


#catsun {
  position: absolute;
 /* height: 23%;*/
  bottom: 1.5%;
  left: 37%;
  display: block;
  cursor:pointer;
}

/*vertical wobble effect on caterpillar p2. https://ianlunn.github.io/Hover/*/
@-webkit-keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.hvr-wobble-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-wobble-vertical:hover, .hvr-wobble-vertical:focus, .hvr-wobble-vertical:active {
  -webkit-animation-name: hvr-wobble-vertical;
  animation-name: hvr-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/*PAGE 4................................*/
#vhc4, #vhc5, #vhc6, #vhc7, #vhc8, #vhc9, #vhc11, #bigcat2, #cocoon2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  top: 100px;
  text-align: center;
  align-items: center;
  overflow: hidden;

}

#apple {
  cursor: pointer;
}

/*PAGE 5................................*/

.pears {
  cursor: pointer;
}

#catpear {
  cursor: pointer;
}

/*PAGE 6................................*/
.plums {
  display:none;
  float: left; /*this makes the images repeat in line, not appear random on page*/
  cursor: pointer;
}

#plum1 {
  display:block;
}

.plumContain {
  display:grid;
  margin:2em auto;
  max-width: 1290px;
  grid-template-columns: repeat(3,1fr);
}

/*PAGE 7................................*/
.straws {
  display:none;
  float: left;
  cursor: pointer;
}

#straw1 {
  display:block;
}

.strawContain {
  display:grid;
  margin:2em auto;
  max-width: 1720px;
  grid-template-columns: repeat(4,1fr);

}

/*PAGE 8................................*/
.oranges {
  display:none;
  float: left;
  cursor: pointer;
}

#orange1 {
  display:block;
}

.orangeContain {
  display:grid;
  margin:2em auto;
  max-width: 1500px;
  grid-template-columns: repeat(5,1fr);
}

/*PAGE 9................................*/
.foods {
  position: relative;
  display:none;
  max-width: 100%;
  cursor: pointer;
 }

#food1 {
  display:block;  
  max-width: 100px;
}

.foodContain {
  position: static;
  display:grid;
  margin:2em auto;
  max-width: 1520px;
  grid-template-columns: repeat(10,1fr);  
}

.textContain {
  display:grid;
  margin: auto;
  max-width: 1500px;
}

#title99 {
  position:relative;
  width:50%;
  height:50%;
  bottom: 0px;
  left: 50%; 
  margin-left:-25%;
}




/*.texts {  
  display:none;
  float: left;
  max-width: 100px;
}

#text1 {
    display:block;
    left: 50px;
}
*/


/*PAGE 10................................*/
#vhc10 {
  background:url("../images/leaf.png");
  background-size:cover; 
}

#title10 {
  position: absolute;
  bottom: 30%;
  left: 45%;
  display:block;
  max-width: 33%;  
}

.holeContain {
  position: absolute;
  bottom: 30%;
  left: 5%;
}

.holes {
  padding-right: 120px;
  cursor: pointer;
}

#catleaf {
  position: absolute;
  max-width:100%;
  top: 29.5%;
  right: 28%;
  display:block;
  cursor: pointer;
}

/*PAGE 11................................*/
#bigcat  {
  display: block;
  margin: 2em auto;
  max-width: 980px;
  margin-top: 130px;
  
/*  width: 20%;*/
  
  cursor: pointer;
}

/*hover grow effect on caterpillar p11 https://ianlunn.github.io/Hover*/
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 3.3s;
  transition-duration: 3.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.7);
  transform: scale(1.7);
}

#title111 {
  position:absolute;
  width:50%;
  height:50%;
  bottom: -200px;
  left: 50%; 
  margin-left:-25%;
}

/*PAGE 12................................*/
/*#bigcat2, #cocoon2  {
  display: block;
  margin: 2em auto;
  max-width: 980px;
  margin-top: 130px;
  cursor: pointer;
}
*/

#bigcat2, #cocoon2  {
  display: block;
  margin: 2em auto;
  max-width: 980px;
  margin-top: 100px;
}



#title12 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  top: 100px;
  text-align: center;
}
/*PAGE 13................................*/
/*.multicolortext {
  background-image: linear-gradient(to left, violet, indigo, green, blue, yellow, orange, red);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}*/

#vhc13 {
  overflow: hidden;
}

#title13 {
  position: absolute;
  top: 50px;
  left: 50px;  
}


#butterfly {
  vertical-align: center;
  position: absolute;
  max-width: 1500px;
  margin-left: 400px;
}


/*PAGE 14................................*/
#vhc14 {
  background:url("../images/dots.png");
  background-size:cover;  
}

#title14 { 
font-size: 250px; 
display: block; 
margin-left: auto; 
margin-right:
auto; top: 555px; 
text-align: center;
position: relative;
}


#restart1 {
  position: absolute;
  margin-left:50%;
  margin-top: 100px;
 
}